body {
	background-color: #ddd;
	color: #000;
	margin: 0;
	font-family: sans-serif;
}

.nav-container {
	background-color: #444;
}

.nav {
	margin: auto;
	width: 100%;
	max-width: 900px;
}

.nav > * {
	display: inline-block;
	color: #fff;
	padding: 0.5em;
	margin: 0;
	text-decoration: none;
}

.nav > *:hover, .dropdown-content > *:hover {
	background-color: #333;
}

.dropdown {
	cursor: default;
	position: relative;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 2em;
}

.dropdown-content > * {
	background-color: #444;
	display: block;
	width: 100%;
	color: #fff;
	padding: 0.5em;
	margin: 0;
	text-decoration: none;
}

.main {
	margin: auto;
	padding: 0.5em;
	max-width: 900px;
}

hr {
	border: 1px solid black;
	margin-top: 2em;
	margin-bottom: 2em;
}

.icon-links {
	margin: auto;
	text-align: center;
}

.icon-links a {
	text-align: center;
	display: inline-block;
	padding: 1em;
	text-decoration: none;
}

.icon-links a:hover {
	background-color: #ccc;
}

.icon-links img {
	height: 48px;
	margin: auto;
}

pre {
	background-color: #fff;
	padding: 10px;
}

code {
	background-color: #fff;
	font-family: monospace;
	font-size: 10pt;
}

code b {
	color: #660;
}

img {
	max-width: 400px;
	max-height: 400px;
}

@media only screen and (max-width: 416px) {
	img {
		max-width: 100%;
	}
}

h1 img, img.icon {
	height: 1em;
}

li img.gaps {
	margin-top: 1em;
	margin-bottom: 1em;
}

.warn {
	color: #f00;
}

h1, h2, h3, h4, h5, h6 {
	color: #058;
}
