.accordion-toggle, .accordion-toggle + label + .accordion-content {
	display: none;
}
.accordion-toggle:checked + label + .accordion-content {
	display: block;
}

.accordion-toggle + label {
	display: block;
	background-color: #aaa;
	padding: 0.5em;
}
.accordion-toggle + label:hover, .accordion-toggle:checked + label {
	background-color: #bbb;
}

.accordion-content {
	background-color: #fff;
	padding: 5px;
}
